node_modules
dist
*.local
.DS_Store
**/bin/
**/obj/
**/covers/
*.exe
*.dll
*.pdb
*.zip
**/appsettings.Development.json
**/appsettings.Production.json
**/bin/
**/obj/
**/appsettings.Development.json
**/appsettings.Production.json
*.local
*.secret
*.token
*.key
*.pem